ul {
	list-style: none;
	padding: 0;
	margin: 0
}
#accordion {
	/*box-shadow: 0px 4px 10px rgba(50,50,50,0.3);
	-moz-box-shadow: 0px 4px 10px rgba(50,50,50,0.3);
	-webkit-box-shadow: 0px 4px 10px rgba(50,50,50,0.3);
	background-color: #fff;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#items {
	padding: 0
}
#items>li>a {
	text-indent: 10px;
	/*width: 100%;*/
	margin: 0 auto;
	cursor: pointer;
	line-height: 50px;
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Oswald', sans-serif!important;
	font-weight: 400;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #222222;
	border-bottom-color: #525252;
	color: #ccc!important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#2c2c2c));
	background-image: -webkit-linear-gradient(#363636, #2c2c2c);
	background-image: -moz-linear-gradient(#363636, #2c2c2c);
	background-image: -ms-linear-gradient(#363636, #2c2c2c);
	background-image: -o-linear-gradient(#363636, #2c2c2c);
	background-image: linear-gradient(#363636, #2c2c2c);
}
#items>li>a>i {
	vertical-align: middle!important;
	padding-right: 15px;
	text-align: center!important;
	width: 36px;
}
#items>li>a::after {
	font-weight: 400;
	margin-top: 2px;
	font-family: "FontAwesome";
	position: absolute;
	right: 30px;
}
#items>li>a:hover, #items>li>a.activated {
	color: #333!important;
	font-weight: 400;
	background-color: #ffcc00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ffcc00));
	background-image: -webkit-linear-gradient(#ffcc00, #ffcc00);
	background-image: -moz-linear-gradient(#ffcc00, #ffcc00);
	background-image: -ms-linear-gradient(#ffcc00, #ffcc00);
	background-image: -o-linear-gradient(#ffcc00, #ffcc00);
	background-image: linear-gradient(#ffcc00, #ffcc00);
	transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-webkit-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out
}
#items>li>a.activated::after {
/*content: "\f106"*/
}
.sub-items {
	display: none
}
.sub-items>li:first-child>a {
	margin-top: 8px;
	height: 34px;
}
.sub-items>li:last-child>a {
	margin-bottom: 12px;
	height: 34px;
}
.sub-items>li>a {
	margin: 0 auto;
	/*width: 212px;*/
	line-height: 39px;
	text-indent: 54px;
	height: 34px;
	position: relative;
	display: block;
	/*border-left: 2px solid rgba(57,198,233,0.3);*/
	font-size: 14px;
	font-family: 'Oswald', sans-serif!important;
	font-weight: 400!important;
	text-decoration: none;
	color: #ccc!important;
}
.sub-items>li>a.current {
	color: #fff!important;
	position: relative;
	font-weight: 400!important;
	text-decoration: none;
}
.sub-items>li>a.current::before {
	content: "\f00c";
	font-family: "FontAwesome";
	/*background-color: #fff;*/
	position: absolute;
	color: #fff!important;
	font-size: 0.656em;
	left: -29px;
}
.sub-items>li:hover>a {
	color: #fff!important;
	transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-webkit-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out
}
